/* ----------------------------- proximamente ----------------------------- */



.proximamente {
    background-image: url(/assets/images/backgroundproximamente3.gif);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
    text-align: center;
    padding: 100px;
  }
  
  .proximamente h1 {
    color: white;
    font-family: quicksand;
    font-size: 7rem;
    margin: 10px 0;
  }
  
  .proximamente h2 {
    color: white;
    font-size: 3rem;
    font-weight: 500;
    margin: 20px 0;
  }
  
  .proximamente p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 300;
    margin: 25px 0;
  }
  
  .proximamente button {
    background: #ff8c00;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    transition: all 1s;
  }
  
  .proximamente button:hover {
    background-color: rgb(229, 126, 0);
    transform: scale(1.2);
  }
  
  .proximamente button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }