/* ----------------------------- seguridad web ----------------------------- */



.main__section__seguridadweb {
    background-color: #2FC99F;
  }
  
  .main__section__seguridadweb__text h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 40px 40px 0px 40px;
  }
  
  .main__section__seguridadweb__text p {
    font-size: 1rem;
    text-align: center;
    padding: 30px 200px 20px 200px;
  }
  
  .main__section__seguridadweb__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  