/* ----------------------------- seguridad web ----------------------------- */


.main__seguridadweb {

  &__section1 {
    background-color: #e1e1e1;

    &__text {
      justify-content: center;
      text-align: center;
      padding-block: 30px;

      h2 {
        font-size: 50px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 30px;
      }

      span {
        font-weight: 600;
      }
    }

    &__features {
      padding-bottom: 30px;

      span {
        display: inline-block;
        color: $iconsGreenColor;
        font-size: 60px;
        padding-left: 30px;
      }

      &__text {
        padding-top: 20px;
        padding-right: 100px;
      }
    }
  }

  &__section2 {
    background-color: #676767;

    h2 {
      color: white;
      text-align: center;
      padding-top: 40px;
      font-size: 2rem;
      font-weight: 400;
    }

    &__cards {
      @include templateGrid (3, 40, true);
      max-width: 1000px;
      margin: 0px auto;

      li {
        text-align: left;
        line-height: 20px;
        font-size: 0.8rem;

        i {
          color: $iconsGreenColor;
        }
      }

      ul {
        margin-bottom: 25px;
      }

      &__card {
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgb(130, 130, 130), 0 6px 20px 0 rgba(151, 151, 151, 0.948);
        margin: 50px 0;
        transition: transform 0.2s linear;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 10px;
        }

        p {
          font-size: 1rem;
        }

        button {
          background-color: $buttonsOrangeColor;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          font-weight: 600;
          padding: 8px 20px;
          margin-block: 10px;

          &:hover {
            background-color: rgb(255, 140, 0);
            color: black;
          }
        }

        &__value--lightblue {
          background-color: #54A5FF;
          border-radius: 10px;
          width: 160px;
          margin: 0 auto 20px auto;
        }

        &__value--orange {
          background-color: #FF6600;
          border-radius: 10px;
          width: 160px;
          margin: 0 auto 20px auto;
        }

        &__value--lightgreen {
          background-color: rgb(0, 247, 0);
          border-radius: 10px;
          width: 180px;
          margin: 0 auto 20px auto;
        }

        &__value__integer__number {
          font-size: 35px;
          font-weight: 500;
        }

        &__value__period {
          font-size: 12px;
          margin-left: -25px;
        }

        &__value__decimal__number {
          line-height: 1.8;
          display: inline-block;
          margin: 4px 0 0 2px;
          vertical-align: top;
          font-size: 18px;
        }

        &__value__currency__symbol {
          font-size: 36px;
        }

        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }
}