/* ----------------------------- barra de descuento ----------------------------- */

.discount__bar {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 8px 0 10px 0;
    background-color: #FFD000;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
        color: black;
        }
    }

    img {
      width: 150px;
      height: 30px;
    }
  }
  

  /* ----------------------------- logo + navbar ----------------------------- */
  
  #navbarSupportedContent {
    flex-grow: 0;
  }

  .collapse {
    a {
      &:hover, &.active {
        color: #000000;
        text-decoration: underline;
      }
  
      color: black;
    }
  
    .btn {
      background-color: $buttonsOrangeColor;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      gap: 1rem;
      margin-inline: 10px;
      font-weight: 600;
      padding-inline: 20px;
  
      &:hover {
        background-color: #ff8c00;
        color: black;
      }
    }
  }
  
  .header {
    top: 0;
    position: sticky;
    z-index: 1;
    padding: 0;
    
    &__style {
      padding: 0;
      background-color: #ffffff;
    }
  }
  
  .navbar-brand img {
    cursor: pointer;
    width: 230px;
    height: 65px;
    margin-top: 5px;
  }
  
  .nav-link {
    color: #000000;
  }
  
  