/* ----------------------------- responsive ----------------------------- */


@media (max-width: 1179px) {


  /* ----------------------------- logo + navbar ----------------------------- */


  .discount__bar {
    display: none;
  }


  /* ----------------------------- index ----------------------------- */


  .main__index {

    &__section1 {

      display: flex;
      flex-direction: column;
      background-color: #031D5B;
      height: auto;
      letter-spacing: 0.2;

      &__col1 {
        width: auto;
        text-align: center;
        color: #d1d1d1;
        margin-top: 30px;

        h1 {
          font-size: 45px;
          padding: 0 30px;
        }

        h2 {
          font-size: 20px;
          font-weight: 400;
          padding: 20px 30px 0 30px;
        }

        p {
          padding: 20px 30px 0 30px;
        }
      }

      &__col2 {
        img {
          width: 450px;
          margin: 0 0 30px 0;
        }
      }
    }
  }


  /* ----------------------------- contacto ----------------------------- */


  .main__contact {

    &__section1 {
      display: flex;
      flex-direction: column;
      background-size: contain;

      &__text {

        h3 {
          margin-bottom: 40px;
        }
      }

      &__cards {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 30px;
        margin-bottom: 30px;

        &__card {
          margin: 0;
        }
      }
    }
  }



  /* ----------------------------- proximamente ----------------------------- */



  .proximamente {
    min-width: auto;
    padding: 20px;

    h1 {
      font-size: 8vw;
      margin: 20px 0;
    }

    h2 {
      font-size: 4vw;
      margin: 30px 0;
    }

    p {
      font-size: 2vw;
      margin: 40px 0;
    }

    button {
      font-size: 2vw;
    }
  }


  /* ----------------------------- footer ----------------------------- */


  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    &__box {
      padding: 0;
      margin-inline: 100px;
      display: flex;
      margin-bottom: 30px;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}


@media (max-width: 1096px) {


  /* ----------------------------- logo + navbar ----------------------------- */


  .collapse {
    ul li {
      font-size: 14px;
    }

    .btn {
      margin-inline: 10px;
      font-weight: 600;
      padding-inline: 10px;
      font-size: 14px;
    }
  }


  /* ----------------------------- hosting ----------------------------- */

  .main__hosting {
    &__section1 {
      padding: 0;

      h2 {
        padding-block: 20px;
      }

      &__cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        padding-bottom: 40px;

        &__card {
          margin: 0;
        }
      }
    }

    &__section2 {
      img {
        width: 100%;
      }
    }
  }


  /* ----------------------------- seguridad web ----------------------------- */


  .main__seguridadweb {

    &__section2 {

      h2 {
        margin-bottom: 30px;
      }

      &__cards {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px;

        &__card {
          margin: 0;
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media (max-width: 992px) {


  /* ----------------------------- logo + navbar ----------------------------- */


  .collapse {
    ul li {
      font-size: 16px;
    }

    .btn {
      font-weight: 600;
      margin: 8px 0 8px 0;
      font-size: 15px;
    }
  }


  /* ----------------------------- index ----------------------------- */

  .main__index {

    &__section1 {

      &__col2 {
        img {
          width: 450px;
          margin: 0 0 30px 0;
        }
      }
    }
  }


  /* ----------------------------- hosting ----------------------------- */


  .main__hosting {

    &__section1 {
      &__cards {
        grid-template-columns: 1fr;
        max-width: 350px;
        padding-bottom: 40px;
      }
    }
  }



  /* ----------------------------- dominios ----------------------------- */


  .main__dominios {

    h2 {
      padding: 30px 20px;
    }

    &__section1 {

      &__search {
        display: flex;
        flex-direction: column;

        input {
          width: 100% !important;
          margin-bottom: 20px;
        }

        button {
          margin-bottom: 20px;
        }
      }
    }

    &__section2 {

      &__articles {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }


  /* ----------------------------- seguridad web ----------------------------- */


  .main__seguridadweb {

    &__section1 {

      &__features {
        text-align: center;

        span {
          padding-left: 90px;
          margin-right: 20px;
        }

        &__text {
          padding: 0;
          margin-right: 10px;
        }
      }
    }

    &__section2 {

      h2 {
        margin-bottom: 40px;
      }

      &__cards {
        grid-template-columns: 1fr;
        max-width: 400px;

        &__card {
          margin: 0;
          margin-bottom: 40px;
        }
      }
    }
  }
}


@media (max-width: 803px) {


  /* ----------------------------- dominios ----------------------------- */


  .main__dominios {

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }

    &__section1 {

      &__search {
        align-items: center;
        padding: 0;

        input {
          width: 300px !important;
          margin-bottom: 20px;
        }
      }
    }

    &__section2 {

      &__articles {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }


  /* ----------------------------- seguridad web ----------------------------- */


  .main__seguridadweb {

    &__section1 {

      &__features {

        span {
          padding-left: 0;
          padding-right: 10px;
          margin-right: 0;
        }

        &__text {
          padding-inline: 20px;
        }
      }
    }
  }


  /* ----------------------------- contacto ----------------------------- */


  .main__contact {

    &__section1 {

      &__cards {
        grid-template-columns: 1fr;
        padding-inline: 30px;
      }
    }
  }


  /* ----------------------------- proximamente ----------------------------- */


  .proximamente {
    h2 {
      font-size: 5vw;
      margin: 30px 0;
    }

    p {
      font-size: 3.5vw;
      margin: 40px 0;
    }
  }


  /* ----------------------------- footer ----------------------------- */

  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    &__box {
      display: flex;
      padding: 0;
      margin-inline: 100px;
      align-items: center;
    }
  }
}


@media (max-width: 576px) {


  /* ----------------------------- logo + navbar ----------------------------- */


  .navbar-brand img {
    width: 160px;
    height: 48px;
  }


  /* ----------------------------- index ----------------------------- */

  .main__index {

    &__section1 {
      padding: 0;
      text-align: center;

      &__col1 {
        width: auto;
        text-align: center;
        color: #d1d1d1;
        margin-top: 30px;

        h1 {
          font-size: 30px;
          padding-inline: 20px;
        }

        h2 {
          font-size: 20px;
          font-weight: 400;
          padding-inline: 20px;
        }

        p {
          padding-inline: 20px;
        }
      }

      &__col2 {
        img {
          width: 100%;
          margin: 0 0 30px 0;
          padding-inline: 20px;
        }
      }
    }
  }


  /* ----------------------------- hosting ----------------------------- */

  .main__hosting {
    &__section1 {
      h1 {
        padding-top: 30px;
        font-size: 30px;
      }

      h2 {
        font-size: 20px;
        padding-inline: 20px;
      }

      &__cards {
        max-width: 280px;
        padding-inline: 20px;

        &__card {
          margin: 0;
        }
      }
    }

    &__section2 {

      h2 {
        padding: 30px 10px 10px 10px;
        font-size: 26px;
      }

      p {
        padding-inline: 20px;
      }

      img {
        padding-bottom: 20px;
      }
    }
  }

  /* ----------------------------- dominios ----------------------------- */



  .main__dominios {

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }

    &__section1 {

      &__search {
        align-items: center;
        padding: 0;

        input {
          width: 200px !important;
          margin-right: 0;
        }
      }
    }

    &__section2 {

      &__articles {
        grid-template-columns: 1fr;
      }
    }
  }


  /* ----------------------------- seguridad web ----------------------------- */


  .main__seguridadweb {

    &__section1 {

      &__text {
        padding-inline: 20px;

        h2 {
          font-size: 24px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    &__section2 {

      h2 {
        font-size: 1.5rem;
        padding-inline: 8px;
      }

      &__cards {

        &__card {
          margin-inline: 20px;
        }
      }
    }
  }


  /* ----------------------------- contacto ----------------------------- */

  .main__contact {

    &__section1 {
      background-image: url(../assets/images/backgroundcontacto.jpg) center center cover no-repeat fixed;

      &__text {

        h1 {
          font-size: 40px;
        }

        h3 {
          font-size: 20px;
        }
      }

      &__cards {

        &__card {
          padding: 10px;
          margin: 0;
          margin-bottom: 0px;
          max-width: 220px;

          span {
            line-height: 10px;
          }

          a {
            font-size: 13px;
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }



  /* ----------------------------- proximamente ----------------------------- */


  .proximamente {
    h1 {
      font-size: 12vw;
      margin: 80px 0 20px 0;
    }

    h2 {
      font-size: 7vw;
      margin: 30px 0;
    }

    p {
      font-size: 4vw;
      margin: 40px 0;
    }

    button {
      font-size: 3.5vw;
    }
  }



  /* ----------------------------- footer ----------------------------- */


  .footer__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}